.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 60px;
}

h1 {
    color: #2e2b6b;
}

.header h1 {
    font-size: 3rem; 
    font-weight: bold; 
}

.header h2 {
    font-size: 2rem; 
    font-weight: normal; 
}
